#menu {
    position: relative;
    width: auto;
    max-width: 872px;
    height: 45px;
    background: #6a7878;
    padding-left: 0;

}

ul#menu {
    margin: 0;
}

ul#menu li {
    float: left;
    margin: 12px;
    list-style: none;
}

#menu li:hover {
    color: red;

}
ul>li ul.submeniu{
    display: none;
}

ul>li:hover ul.submeniu {
    display: block;
    width: 150px;
    position: relative;
}

.submeniu li {
    display: inline-block;
}